header {
    margin-top: 30px;
}

main{
    margin-top: 30px;
}
/* Стилизация навигационного меню */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 10px;
    font-size: 25px;
}

nav ul li a img{
    height: 25px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    
}

a{
    &:hover{
        border-bottom: 3px red solid ;
    }
}

h1, h2, h3 {
    color: #333;
    text-align: center;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
  }

  .container {
    max-width: 400px;
    margin: 30px auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .form-group {
    margin-bottom: 20px;
  }

  .form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }

  .form-group input {
    width: 94%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;

  }

  .form-group button {
    background-color: #4CAF50;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }

  .form-group button:hover {
    background-color: #45a049;
  }

/* Стилизация подвала */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.Our_contacts {
    margin-top: 100px;
    font-size: 30px;
}

.feedback_info {
    text-align: center;
    font-size: 20px;
}

.adresses_form{
    background-color: #dadada;
    width: 100%;
    height: 560px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.adresses{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 700px;
    gap: 60px;
}
.adresses p{
    margin: 3px 0;
}
.name_Iremel{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    width: 200px;
    height: 200px;

}

.info_Iremel{
    text-align: center;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    width: 200px;
    height: 200px;
    background-color: rgb(102, 101, 101);

}

.info_Iremel p{
    color: white;
}

.name_Mega{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    width: 200px;
    height: 200px;
   
}

.info_Mega{
    text-align: center;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    width: 200px;
    height: 200px;
    background-color: rgb(102, 101, 101);

}

.info_Mega p{
    color: white;
}